[Desktop Entry]
Version=1.0
Type=Application
Name=Airline Reservation System
Comment=OOP Project - Airline Booking System
Exec=gnome-terminal -- /home/ayeshakhalid/OOP-PROJECT/airline
Icon=utilities-terminal
Terminal=true
Categories=Development;Education;
Path=/home/ayeshakhalid/OOP-PROJECT/
